In [1]:
3/2

1.5

In [2]:
3/2.0

1.5

In [3]:
3.0/2

1.5

In [4]:
2.0/2.0

1.0

In [5]:
3.0/2.0

1.5

In [7]:
Motorcycle = ['Honda', 'Yamaha']
Motorcycle = []
print (Motorcycle[-1])

IndexError: list index out of range

In [8]:
def multi(*para):
    print(para)
    
multi((1),2,[3])

(1, 2, [3])

In [9]:
class Emp():
    def _init_(self,n,a):
        self.name = n
        self.age = a
        self.salary = 100*self.age
        
    def EmpName(self):
        print("Employee name = " + self.name)
    
    def EmpAge(self):
        print("Employee age = " + str(self.age))
    
    def EmpSalary(self):
        print("Employee salary = " + str(self.salary))

In [11]:
emp1 = Emp('John',25)

TypeError: Emp() takes no arguments

In [14]:
def para (num):
    for a in range (len(num)):
        num[a] += 10

In [15]:
number1 = list(range(4))
number2 = number1[:]

In [16]:
para(number2)

In [17]:
print(number2)

[10, 11, 12, 13]

In [18]:
print(number1)

[0, 1, 2, 3]

In [21]:
for i in range(5):
    print (i)

0
1
2
3
4

In [22]:
cnt = 0
for i in range (5):
    if i%2 ==0:
        continue
    cnt += i 
    print(cnt)

1
4

In [23]:
4%2

0

In [24]:
2%2

0

In [25]:
1%2

1

In [29]:
myTuple = 1,2,3
x,y,z = myTuple
print(x+y+z)

6

NameError: name 'MyTuple' is not defined

In [30]:
print(0b10 +0o10 +0x10)

26

In [31]:
def multi(*para):
    print(para)
    
multi((0,1),2,[3])

((0, 1), 2, [3])